
qop - doddering/dependencies/fbxsdk/lib/vs2017/x64/debug/libfbxsdk-mt.lib
qop - doddering/dependencies/fbxsdk/lib/vs2017/x64/debug/libfbxsdk-md.lib
qop - flytrap/dependencies/fbxsdk/lib/vs2017/x64/debug/libfbxsdk-mt.lib
qop - flytrap/dependencies/fbxsdk/lib/vs2017/x64/debug/libfbxsdk-md.lib
